body{
background-color: MediumSeaGreen
}
h1{
  color: yellow
}
h1{
  text-align: center;
  text-decoration: underline;
  text-shadow: 3px 2px darkgray;
}
p{
  font-family: "Times New Roman", Times, serif;
  }
  .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
}
img{border: 5px solid yellow;
}

h2{
  color: blue
}
table, th, td {
   border: 10px solid black;
}
